/*
This is a multi-line CSS comment.
Use it for longer notes.
*/
.colors{
    color: black;
    color: #040f0f;
    color: #ffffff;
    color: #bebfc4;
    color: #183C28;
    color: #eec643;
}

:root {
    cursor: url('assets/glove3.png'), auto;
    background-color: black;
    color: #bebfc4;
    font-family: garamond;
}

header{
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

a{
    color: #eec643;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0px;
    text-align: center;
    background-color: #183C28;
    color: #eec643;
}


.mainSelectionPortals{
    display: flex; 
    justify-content: center; /* Align images horizontally */ 
    align-items: center; /* Align images vertically */ 
    position: relative; /* To ensure correct stacking */ 
    width: 100wv; 
    height: 80vh; 
    overflow: hidden;
}

.mainSelectionPortals img.portalArches {
    position: absolute; /* Stack images on top of each other */ 
    width: 100vw; 
    height: 80vh; 
}

.mainSelectionPortals img.portal_1 {
    position: absolute; /* Stack images on top of each other */ 
    padding-top: 23Vh;
    width: 60vw;
    height: 65vh; 
    
}
